{% extends 'base.html.twig' %}

{% block body %}

    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                    <article>
                        <h2>
                            <a href="{{ path('show_article', {'id': article.id }) }}">{{ article.theTitle }}</a>
                        </h2>
                        <p>
                            <small>Section :
                                {% for section in article.section %}
                                    <a href="{{ path('show_article_section', {'section_name': section.theTitle}) }}">{{ section.theTitle }}</a>
                                {% endfor %}
                                ,
                                par {{ article.fosUser.username }}
                                Le 18 Octobre 2017</small>
                        </p>
                        <p>
                            {{ article.theText }}
                        </p>
                    </article>
            </div>
        </div>
        <br>
        <div class="row">
            <a class="btn btn-primary pull-right" href="{{ path('homepage') }}">Retour à l'accueil</a>
        </div>
    </div>

{% endblock %}