{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <h1>Sections list</h1>

            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Thetitle</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for section in sections %}
                    <tr>
                        <td><a href="{{ path('admin_section_show', { 'id': section.id }) }}">{{ section.id }}</a></td>
                        <td>{{ section.thetitle }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_section_show', { 'id': section.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_section_edit', { 'id': section.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('admin_section_new') }}">Ajouter une section</a>


        </div>
    </div>

{% endblock %}
